@tailwind base;
@tailwind components;
@tailwind utilities;

li {
  font-size: 1rem;
}

@layer components {
  .login-input {
    @apply bg-sky-50 rounded outline-none p-2 w-3/4;
  }
  .group-details-sidebar-menu {
    @apply m-0 font-semibold text-center border-b-2 border-gray-300 text-base cursor-pointer hover:bg-blue-400 rounded p-2 hover:text-white mb-2;
  }
  .notification-menu {
    @apply text-black p-3 rounded hover:bg-slate-200 hover:text-black;
  }
  .menu-item {
    @apply p-2 px-3 bg-indigo-500 rounded font-medium text-white m-2 cursor-pointer;
  }

  .doctor-details-right-section-subsection {
    @apply p-5 rounded-lg bg-light-primary text-center w-full;
  }
}

.dashboard-icon-container {
  overflow: hidden;
}

.dashboard-icon {
  width: 10rem;
  height: 10rem;
  position: absolute;
  right: -10px;
  top: 20px;
  transform: rotate(325deg);
  opacity: 0.3;
}

.dashboard-icon-container:hover .dashboard-icon {  
  width: 5rem;
  height: 5rem;
  position: absolute;
  right: 0;
  top: 10px;
  transform: rotate(360deg);
  opacity: 1;
  /* top: 0; */
  /* transform: rotate(325deg); */
  /* opacity: 0.3; */
}